{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "styled-jsx/babel",
      {
        "optimizeForSpeed": true,
        "sourceMaps": true
      }
    ],
    "react-require",
    "react-native-reanimated/plugin"
  ]
}